.container {
  display: flex;
  flex-direction: column;
  justify-content: centers;
  padding: 1rem 0 0 1.5rem;
  height: 100%;
}
.formContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 250px;
}

.a {
  color: blue;
  cursor: pointer;
}
